<ion-content>

  <div class="background"></div>
  <div class="header">
    <h1>Profile</h1>
  </div>
  <!-- Card pertama untuk menampilkan data customer -->
<ion-card class="user-card" *ngIf="!showForm">
<ion-card-content>
<ion-card-header class="ion-text-center">
<ion-card-title>Informasi Akun</ion-card-title>
</ion-card-header>
<ion-grid>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label>Nama:</ion-label>
<ion-text>{{ customerData.name }}</ion-text>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label>Kontak:</ion-label>
<ion-text>{{ customerData.contact }}</ion-text>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label>Alamat:</ion-label>
<ion-text>{{ customerData.address }}</ion-text>
</ion-item>
</ion-col>
</ion-row>
</ion-grid>
<ion-button expand="full" fill="solid" color="primary" (click)="showForm = true">
Ubah Profile
</ion-button>
</ion-card-content>
</ion-card>

  <!-- Card kedua untuk mengedit data customer -->
<ion-card class="user-card" *ngIf="showForm" [ngClass]="{ 'zoom-in': showForm }">
<ion-card-content>
<ion-card-header class="ion-text-center">
<ion-card-title>Form Ubah Profile</ion-card-title>
</ion-card-header>
<ion-grid>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label position="floating">Nama</ion-label>
<ion-input type="text" [(ngModel)]="customerData.name" name="name" required></ion-input>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label position="floating">Kontak</ion-label>
<ion-input type="text" [(ngModel)]="customerData.contact" name="contact" required></ion-input>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label position="floating">Alamat</ion-label>
<ion-input type="text" [(ngModel)]="customerData.address" name="address" required></ion-input>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label position="floating">Password Baru</ion-label>
<ion-input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required></ion-input>
<ion-icon slot="end" [name]="showPassword ? 'eye-off' : 'eye'" (click)="togglePasswordVisibility()"></ion-icon>
</ion-item>
</ion-col>
</ion-row>
<ion-row>
<ion-col size="12">
<ion-item>
<ion-label position="floating">Verifikasi Password</ion-label>
<ion-input [type]="showVerPassword ? 'text' : 'password'" [(ngModel)]="passwordConfirmation" name="password_confirmation" required></ion-input>
<ion-icon slot="end" [name]="showVerPassword ? 'eye-off' : 'eye'" (click)="toggleVerPasswordVisibility()"></ion-icon>
</ion-item>
</ion-col>
</ion-row>
</ion-grid>
<ion-button expand="full" fill="solid" color="primary" (click)="ubahProfile()">
Simpan Perubahan
</ion-button>
<ion-button expand="full" fill="outline" color="primary" (click)="batal()">
Batal
</ion-button>
</ion-card-content>
</ion-card>
</ion-content>

<!-- Fab button to navigate home -->
<div class="fab-tab" style="position: relative;">
  <a routerLink="/home">
    <img src="../../assets/icon/home.png" class="fab-icon" width="100px" style="position: absolute; bottom: 0;">
  </a>
</div>
<ion-footer>
  <ion-tab-bar slot="bottom" class="tab-bar">
    <ion-tab-button tab="home" (click)="navigateToRiwayat()" class="tab-button left">
      <img src="../../assets/riwayat.png" width="35px">
    </ion-tab-button>
    <ion-tab-button tab="search" routerLink="/profile" class="tab-button right">
      <img src="../../assets/icon/user.png" width="27px">
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
<style>
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    z-index: -1;
  }

  .header {
    background-color: #6bdef1;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom-left-radius: 50% 30%;
    border-bottom-right-radius: 50% 30%;
    margin-bottom: 10px;
  }

  .header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  .fab-tab {
    position: absolute;
    bottom: -40px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .fab-icon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1px;
  }

  ion-tab-button[selected] .tab-icon {
    filter: brightness(0) invert(1);
    transform: scale(1.2);
  }

  .tab-icon {
    transition: transform 0.3s ease, filter 0.3s ease;
  }

  .tab-bar {
    display: flex;
    justify-content: space-between;
  }

  .tab-button.left {
    flex: 1;
    text-align: left;
  }

  .tab-button.right {
    flex: 1;
    text-align: right;
  }

  .user-card {
    width: 300px;
    height: auto;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 20px;
  }

  .user-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #ddd;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-icon ion-icon {
    color: black;
    font-size: 3em;
  }

  .upload-text {
    text-align: center;
    margin: 0;
  }

  .info-card {
    width: 300px;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5px;
  }

  ion-card-title {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .zoom-in {
    animation: zoomIn 0.5s ease-in-out;
  }

  @keyframes zoomIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>