<ion-content [fullscreen]="true" class="ion-padding">
  <div class="background">
    <div class="container">
      <div class="logo-container">
        <ion-card class="card">
          <!-- Logo Laundry -->
          <img src="../../assets/logolaundry.png" class="logo-card">
          <br>
          <span style="color: white; font-size: 16px; font-weight: bold; text-decoration: underline;">Pastikan Anda Mengisi Data Diri dengan Benar!</span>
          <br>
          <ion-card-content>
            <div class="input-container">
              <ion-icon class="input-icon" name="person"></ion-icon>
              <ion-input label="Nama :" label-placement="floating" fill="outline" placeholder="Masukan Nama Anda" style="color: white;"></ion-input>
            </div>
            <div class="input-container">
              <ion-icon class="input-icon" name="mail"></ion-icon>
              <ion-input label="Email :" label-placement="floating" fill="outline" placeholder="Masukan Email" style="color: white;"></ion-input>
            </div>
            <div class="input-container">
              <ion-icon class="input-icon" name="lock-closed"></ion-icon>
              <ion-input type="password" label="Password :" label-placement="floating" fill="outline" placeholder="Masukan Password" style="color: white;" #passwordInput>
                <ion-icon slot="end" class="input-icon" name="eye" (click)="togglePasswordVisibility(passwordInput)"></ion-icon>
              </ion-input>
            </div>
            <div class="input-container">
              <ion-icon class="input-icon" name="lock-closed"></ion-icon>
              <ion-input type="password" label="Konfirmasi Password :" label-placement="floating" fill="outline" placeholder="Masukan Konfirmasi Password" style="color: white;" #confirmPasswordInput>
                <ion-icon slot="end" class="input-icon" name="eye" (click)="togglePasswordVisibility(confirmPasswordInput)"></ion-icon>
              </ion-input>
            </div>
            <ion-button expand="block" color="light" fill="outline">Daftar</ion-button>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/home">
      <img src="../../assets/icon/home.png" width="35px">
    </ion-tab-button>
    <ion-tab-button tab="trolley">
      <img src="../../assets/logolaundry.png" width="55px">
    </ion-tab-button>
    <ion-tab-button tab="search">
      <img src="../../assets/icon/user.png" width="27px">
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>

<style>
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
  }

  .container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
  }

  .logo-container {
    width: 100%;
    text-align: center;
  }

  .card {
    width: 100%;
    background-color: transparent;
  }

  .logo-card {
    width: 100%;
    max-width: 200px;
    height: auto;
  }

  .input-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .input-icon {
    color: white;
    margin-right: 10px;
  }

  .input-field {
    --placeholder-color: white;
  }

  .white-text {
    color: white !important;
  }

  .full-width-button {
    width: 100%;
  }

  ::placeholder {
    color: white;
    opacity: 1;
  }

  .input-container ion-input {
    --border-color: white;
    --color: white;
  }

  @media screen and (max-width: 768px) {
    .logo-card {
      width: 100%;
    }
  }

  @media screen and (max-width: 576px) {
    .logo-card {
      width: 100%;
    }
  }
</style>
