.header-title {
    text-align: center;
}

.washup {
    color: #ffffff;
    font-size: 8vw;
    /* Ubah ukuran font menjadi responsif */
    font-weight: bold;
}

.laundry {
    color: #ffffff;
    font-size: 10vw;
    /* Ubah ukuran font menjadi responsif */
    font-weight: bold;
}

.location-text {
    color: #ffffff;
    text-decoration: underline;
    margin-bottom: 2vh;
    /* Ubah jarak menggunakan vh */
}

.title-col {
    margin-left: 5vw;
    /* Ubah margin menggunakan vw */
    margin-right: 5vw;
    /* Ubah margin menggunakan vw */
    margin-bottom: 5vh;
    /* Ubah margin menggunakan vh */
}

.login-button {
    margin-left: 5vw;
    /* Ubah margin menggunakan vw */
    margin-right: 5vw;
    /* Ubah margin menggunakan vw */
    margin-top: 5vh;
    /* Ubah margin menggunakan vh */
    width: 20vw;
    /* Ubah lebar menggunakan vw */
}